
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.artifact-list {
  text-align: left;
}

.artifact-list ul {
  padding: 0;
  margin: 0;
}

.artifact-list li {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #fff;
  list-style: none;
  gap: 1rem;
}

.artifact-list img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  background: #eee;
  margin-right: 16px;
}

.artifact-list input[type="checkbox"] {
  margin-right: 16px;
}

.artifact-list strong {
  font-size: 1.1rem;
}

.artifact-list h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
